
<%= form_with(model: @user, :as =>user) do |f| %>
<div class="field">
  <strong><%= f.label :username %></strong>
  <div class="control has-icons-left has-icons-right">
    <%= f.text_field :username, autofocus: true, autocomplete: 'username', class: 'input', required: true %>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>
</div>
<div class="field">
  <strong><%= f.label :email %></strong>
  <div class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', required: true %>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
</div>
<div class="field">
  <strong><%= f.label :password %></strong>
  <div class="control has-icons-left has-icons-right">
    <%= f.password_field :password, autocomplete: 'current-password', class: 'input', required: true %>
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </div>
</div>
<div class="field">
  <strong><%= f.label :phone %></strong>
  <div class="control has-icons-left has-icons-right">
    <%= f.text_field :phone, autocomplete: 'tel-national', class: 'input', required: true %>
    <span class="icon is-small is-left">
      <i class="fas fa-phone"></i>
    </span>
  </div>
</div>
<div class="field">
  <strong><%= f.label :bio %></strong>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= f.text_area :bio, autocomplete: 'bio', class: 'textarea', placeholder: 'tell us something about you', required: true %>
      </div>
    </div>
  </div>
</div>
<div class="field">
  <strong><%= f.label :picture %></strong>
  <div class="control has-icons-left has-icons-right">
    <%= f.file_field :picture, class: 'picture', required: true%>
  </div>
</div>
<br />
<div class="action">
  <%= f.submit  "Submit", class: 'button is-primary' %>
</div>
<% end %>
