<% content_for :page_title, "Ride Mates" %>

<nav class="tabs is-boxed is-fullwidth is-medium">
  <div class="container">
    <ul>
      <li class="tab is-active" onclick="openTab(event,'RideMates')"><a >Ride Mates</a></li>
      <li class="tab" onclick="openTab(event,'AllRides')"><a >All Rides</a></li>
      <li class="tab" onclick="openTab(event,'MyRides')"><a >My Requests</a></li>
    </ul>
  </div>
</nav>
<div class="container section" style="padding: 0px;">
    <div id="RideMates" class="content-tab" >
      <p>
        <div class="container">
          <nav class="level" style="padding: 10px;">
            <!-- left side -->
            <div class="level-left">
                <p class="level-item">
                <strong><%= link_to "All Riders", users_path %></strong>
                </p>
            </div>
            <div class="level-right">
              <p class="level-item">
                <%= simple_form_for :search, url: users_path, method: "GET" do |f| %>
                  <%= f.input :search_driver, input_html: {value: "", placeholder: "search a driver here", class: 'input'}, label: false%>
                  <% end %>
              </p>
            </div>
          </nav>
        </div>
        <% if @users.count > 0 %>
        <div class="columns is-multiline is-mobile">
        <% @users.order('username ASC').each do |user| %>
        <div class="column is-half-touch is-half-desktop">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <%= image_tag user.picture.url if user.picture? %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= link_to user.username, user %></strong> <small><%= user.email %></small>
                  </p>
                  <article class="message">
                    <div class="message-body">
                      <%= user.bio %>
                    </div>
                  </article>
              </div>
            </div>
          </article>
        </div>
        </div>
        <% end %>
        </div>
        <% else %>
        <div class="card" style="width:60%;padding:10px;margin-left:19%;">
          <div class="card-content">
            <p class="title">
              “Sorry Mate, the user you're looking for hasn't signed up yet, spread the good news! ”
            </p>
            <p class="subtitle">
              Yours Truly &#128540;
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <strong><%= link_to "Back to all Ride Mates", users_path %> </strong>
              </span>
            </p>
          </footer>
        </div>
        <% end %>
      </p>
    </div>
    <div id="AllRides" class="content-tab" style="display:none">
        <p>
        <% if Ride.all.count > 0 %>
          <section class = "section">
            <div class = "container">
              <table class = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Take Off</th>
                        <th>Capacity</th>
                        <th>Driver</th>
                    </tr>
                  </thead>
                  <% Ride.all.order('origin ASC, destination ASC, take_off ASC').each do |ride|%>
                  <tbody>
                  <td><%= ride.origin %></td>
                  <td><%= ride.destination %></td>
                  <td><%= ride.take_off %></td>
                  <td><%= ride.capacity %></td>
                  <td><%= link_to ride.user.username, "/users/#{ride.user.id}" %></td>
                  </tbody>
                  <% end %>
              </table>
            </div>
      </section>
      <% else %>
      <div class="card" style="width:60%;padding:10px;margin-left:19%;">
          <div class="card-content">
            <p class="title">
              “Sorry Mate, there are no rides available at the moment... ”
            </p>
            <p class="subtitle">
              Yours Truly &#129318;&#127997;
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <strong><%= link_to "Back to all Ride Mates", users_path %> </strong>
              </span>
            </p>
          </footer>
        </div>
      <% end %>
    </p>
    </div>
</div>
<div id="MyRides" class="content-tab" style="display:none">
        <p>
        <% if Request.where(user_id: current_user.id).count > 0 %>
          <section class = "section">
            <div class = "container">
              <table class = "table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Take Off</th>
                        <th>Capacity</th>
                        <th>Driver</th>
                        <th>Request Status</th>
                    </tr>
                  </thead>
                  <% Request.where(user_id: current_user.id).each do |request|%>
                  <tbody>
                  <td><%= request.ride.origin %></td>
                  <td><%= request.ride.destination %></td>
                  <td><%= request.ride.take_off %></td>
                  <td><%= request.ride.capacity %></td>
                  <td><%= link_to request.ride.user.username, "/users/#{request.ride.user.id}" %></td>
                  <% if request.request_status == nil %>
                  <td class="is-warning">Pending</td>
                  <%elsif request.request_status == false%>
                  <td class="is-danger">Rejected</td>
                  <%elsif request.request_status == true%>
                  <td class="is-success">Accepted</td>
                  <%end%>
                  </tbody>
                  <% end %>
              </table>
            </div>
      </section>
      <% else %>
      <div class="card" style="width:60%;padding:10px;margin-left:19%;">
          <div class="card-content">
            <p class="title">
              “It's silent in here &#128376; You have no ride requests at the moment.”
            </p>
            <p class="subtitle">
              Yours Truly &#129318;&#127997;
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a class="button is-text" href="#AllRides"><strong>View Available Rides</strong></a>
              </span>
            </p>
          </footer>
        </div>
      <% end %>
    </p>
    </div>
</div>
