<p id="notice"><%= notice %></p>

<% content_for :page_title, @user.username %>

<section class="section">
    <div class="container">
        <nav class="level">
        <!-- left side -->
        <div class="level-left">
            <p class="level-item">
             <figure class="image is-128x128">
                <%= image_tag @user.picture.url if @user.picture? %>
              </figure>
            </p>
        </div>
        <!-- Right side -->
        <div class="level-right">
          <% if current_user.username == @user.username %>
            <p class="level-item">
                <div style="padding:10px;">
                <button id="btn" class="button is-dark" onclick="OpenModal('myModal')" data-no-turbolink="true">Provide a Ride</button></div>
            </p>
            <p class="level-item">
                <%= link_to "Edit", edit_user_path(@user), class: "button is-dark" %>
            </p>
          <% end %>
            <p class="level-item">
                <%= link_to 'Back', users_path, class: "button is-dark" %>
            </p>
        </div>
        </nav>
        <hr />
        <div class="content">
        <article class="message">
            <div class="message-header">
                <p>About me</p>
            </div>
            <div class="message-body">
                <p>
                <strong>Email:</strong>
                <%= @user.email %>
                </p>
                <p>
                <strong>Phone:</strong>
                <%= @user.phone %>
                </p>
                <p>
                <strong>Bio:</strong>
                <%= @user.bio %>
                </p>
            </div>
        </article>
        <article class="message">
            <div class="message-header">
                <p><%= @user.rides.count%> Ride(s) Offered</p>
            </div>
            <div class="message-body">
            <div class="columns is-multiline is-mobile">
            <% if @user.rides.count < 1%>
                <strong>Sorry!</strong>
                No rides at the moment
                </p>
            <% else %>
             <% @user.rides.each do |ride|%>
             <div class="column is-half-touch is-one-quarter-desktop">
                <p>
                <strong>Origin:</strong>
                <%= ride.origin %>
                </p>
                <p>
                <strong>Destination:</strong>
                <%= ride.destination %>
                </p>
                <p>
                <strong>Take Off:</strong>
                <%= ride.take_off %>
                </p>
                <p>
                <strong>Max number of People:</strong>
                <%= ride.capacity %>
                </p>
            <% if current_user.id == ride.user_id %>
            <div class="field is-grouped">
            <%= button_to 'Delete', [ride.user, ride],
               :method => :delete,
               data: { confirm: 'Are you sure you want to delete the ride?' }, class: "button is-danger"
                %>
            &nbsp;
            <a class="button is-dark" onclick="OpenModal('rideRequests')">View Requests</a>
            </div>
            <hr />
            <% elsif Request.exists?(user_id: current_user.id, ride_id: ride.id) %>
            <%= link_to "Cancel Ride", "/#{ride.id}/cancel", class: "button is-danger"%>
            <hr />
            <%else%>
            <%= link_to "Request Ride", "/#{ride.id}/request", class: "button is-success"%>
            <hr />
            <% end %>
            <div class="is-divider-vertical"></div>
            </div>
            <% end %>
            <% end %>
            </div>
            </div>
        </article>
        </div>
    </div>
</section>

<!-- Modal for providing rides -->
<div class="modal" id="myModal" style="padding: 10%;">
<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
    <p class="modal-card-title">Provide Ride</p>
    <button class="delete" id="close" onclick="CloseModal('myModal', 'close')"></button>
    </header>
    <section class="modal-card-body">
    <%= simple_form_for([@user, @user.rides.build]) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="field">
            <div class="control">
                <%= f.input :origin, input_html: { class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <%= f.input :destination, input_html: { class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <%= f.input :take_off, input_html: { class: 'datetime'}, wrapper: false, label_html: {class: 'label'} %>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <%= f.input :capacity, input_html: { class: 'input'}, wrapper: false, label_html: {class: 'label'} %>
            </div>
        </div>
        <hr />
        <%= f.button :submit, class: "button is-success" %>
        <%= link_to 'Cancel', @user, class: "button is-dark"%>
    </section>
    <% end %>
</div>
</div>

<!-- Modal for viewing requests for rides Provided -->
<div class="modal" id="rideRequests" style="padding: 10%;">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Ride Requests</p>
      <button class="delete" id="exit" onclick="CloseModal('rideRequests','exit')"></button>
    </header>
    <section class="modal-card-body">
    <!-- Work in Progress -->
      <%Request.joins(:ride).where(user_id: current_user.id).each do |r|%>
      <div class="card">
      <%= r.ride.user.username%>
      </div>
      <%end%>
    </section>
  </div>
</div>
