<p id="notice"><%= notice %></p>

<% content_for :page_title, @user.username %>

<section class="section">
    <div class="container">
        <nav class="level">
        <!-- left side -->
        <div class="level-left">
            <p class="level-item">
             <figure class="image is-128x128">
                <%= image_tag @user.picture.url if @user.picture? %>
              </figure>
            </p>
        </div>
        <!-- Right side -->
        <div class="level-right">
          <% if current_user.username == @user.username %>
            <p class="level-item">
                <%= link_to "Edit", edit_user_path(@user), class: "button is-dark" %>
            </p>
          <% end %>
            <p class="level-item">
                <%= link_to 'Back', users_path, class: "button is-dark" %>
            </p>
        </div>
        </nav>
        <hr />
        <div class="content">
        <article class="message">
            <div class="message-header">
                <p>About me</p>
            </div>
            <div class="message-body">
                <p>
                <strong>Email:</strong>
                <%= @user.email %>
                </p>
                <p>
                <strong>Phone:</strong>
                <%= @user.phone %>
                </p>
                <p>
                <strong>Bio:</strong>
                <%= @user.bio %>
                </p>
            </div>
        </article>
        <article class="message">
            <div class="message-header">
                <p>Ride Offer</p>
            </div>
            <div class="message-body">
                <p>
                <strong>Origin:</strong>
                Nairobi, CBD
                </p>
                <p>
                <strong>Destination:</strong>
                Dojo
                </p>
                <p>
                <strong>Take Off:</strong>
                00800HRS
                </p>
                <p>
                <strong>Max number of People:</strong>
                4 Peeps
                </p>
                <p>
                <strong>Message:</strong>
                I only have space left for one more person
                </p>
            </div>
        </article>
        </div>
    </div>
</section>
