<!DOCTYPE html>
<html>
  <head>
    <title>RideMate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"></script>
  </head>
  <body>
  <section class="hero is-light is-small is-bold">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
            <span class="navbar-item">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
              <strong><%= link_to 'Ride Mate', root_path, class: "navbar-item" %></strong>
              </span>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <% if current_user %>
                <a class="navbar-item is-active">
                  Welcome <%= current_user.username %>
                </a>
                <a class="navbar-item">
                  <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>Menu</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content">
                        <a class="dropdown-item">
                          <strong>Welcome back &#128101;</strong>
                        </a>
                        <div class="dropdown-item">
                          <%= link_to "Home", root_path%>
                        </div>
                        <div class="dropdown-item">
                          <%= link_to "Ride Mates", users_path%>
                        </div>
                        <div class="dropdown-item">
                          <%= link_to "My Profile", "/users/#{current_user.id}"%>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <p>Enjoy carpooling with a <strong>Ride Mate</strong>. Have an EPIC ride .</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <span class="navbar-item">
                    <span><%= link_to "Log Out", logout_path, class: "button is-danger" %></span>
                </span>
                <% else %>
                <span class="navbar-item">
                    <span><%= link_to "Log In", login_path, class: "button"  %></span>
                </span>
                <span class="navbar-item">
                    <span><%= link_to "Sign Up", signup_path, class: "button is-primary"  %></span>
                </span>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <%= yield :page_title %>
          </h1>
        </div>
      </div>
    </section>
    <section class="section" style='padding: 10px;'>
    <div class="container">
    <%= yield %>
    </div>
  </section>
  </body>
</html>
